


.gridd_rammi{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;

}

.gridd_rammi2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;

}

.color1{
    display: grid;
    border: 1px solid darkkhaki;

}



.textitype1{
    font-family: serif
}

.textitype2{
    font-family: Arial, Helvetica, sans-serif
}

.textitype3{
    font-family: 'Courier New', Courier, monospace
}

.bord{
    border: 1px solid black;

}

.textitype4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.textitype5{
    font-family: fantasy;
}

.textitype6{
    font-family: unset;

}

.textitype7{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}





.back1{
background: azure
}

.stadurcent{
    text-align: center;
}

.stadurright{
    text-align: right
}

.fyrirsogn{
    font-size: 5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

.liturradur{
    color: maroon
}

.smattletur{
    font-size: 0.7em;
    line-height: 1.6em;

}


.parg{
    padding: 40px
}
 








